@"
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Data & (if too large)
data/maestro/
data/processed/


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
"@ | Out-File -Encoding UTF8 ".gitignore"